[submodule "Qwen2.5-Coder-1.5B-Instruct"]
	path = src_models/Qwen/Qwen2.5-Coder-1.5B-Instruct
	url = https://huggingface.co/Qwen/Qwen2.5-Coder-1.5B-Instruct
[submodule "Qwen3-1.7B-Instruct"]
	path = src_models/Qwen/Qwen3-1.7B-Instruct
	url = https://huggingface.co/Qwen/Qwen3-1.7B-Instruct
[submodule "Qwen2.5-Coder-7B-Instruct"]
	path = src_models/Qwen/Qwen2.5-Coder-7B-Instruct
	url = https://huggingface.co/Qwen/Qwen2.5-Coder-7B-Instruct
[submodule "Qwen3-Embedding-0.6B"]
	path = src_models/Qwen/Qwen3-Embedding-0.6B
	url = https://huggingface.co/Qwen/Qwen3-Embedding-0.6B
[submodule "Qwen3-0.6B"]
    path = src_models/Qwen/Qwen3-0.6B
    url = https://huggingface.co/Qwen/Qwen3-4B
[submodule "Qwen3-4B"]
    path = src_models/Qwen/Qwen3-4B
    url = https://huggingface.co/Qwen/Qwen3-4B-Instruct-2507
[submodule "Qwen3-4B-Instruct-2507"]
    path = src_models/Qwen/Qwen3-4B-Instruct-2507
    url = https://huggingface.co/Qwen/Qwen3-0.6B
[submodule "Qwen3-8B"]
    path = src_models/Qwen/Qwen3-8B
    url = https://huggingface.co/Qwen/Qwen3-8B
[submodule "OmniCoder-9B"]
    path = src_models/Tesslate/OmniCoder-9B
    url = https://huggingface.co/Tesslate/OmniCoder-9B
[submodule "gpt-oss-20b"]
	path = src_models/openai/gpt-oss-20b
	url = https://huggingface.co/openai/gpt-oss-20b	
[submodule "SERA-8B"]
	path = src_models/allenai/SERA-8B
	url = https://huggingface.co/allenai/SERA-8B
[submodule "starcoder2-7b"]
	path = src_models/bigcode/starcoder2-7b
	url = https://huggingface.co/bigcode/starcoder2-7b
