.idea
.kilo
logs
*.log
venv
venvp
.venv
.veai
__pycache__
!*.pbtxt
src_models/Qwen
src_models/microsoft
src_models/allenai
src_models/bigcode
src_models/Tesslate
src_models/deepseek-ai
src_models/google
src_models/nomic-ai
src_models/ministralai
src_models/ricdomolm
src_models/codellama
models_cache
models/Qwen*/*
models/gpt-oss-20b*/1
models/starcoder*/1
models/SERA*/1
models/microsoft*/1
models/Phi-*
models/gemma-*/1
models/gemma-4-E4B-it-int8-ov/
models/OmniCoder*
models/Mellum*/1
models/*/1
models/VibeThinker*
