.idea
.kilo
logs
*.log
venv
venvp
.venv
.veai
__pycache__
*.exe
*.spec
*.zip
!*.pbtxt
agent/build/
build
dev/
src_models/venv*
src_models/Qwen
src_models/microsoft
src_models/allenai
src_models/bigcode
src_models/Tesslate
src_models/deepseek-ai
src_models/google
src_models/nomic-ai
src_models/ministralai
src_models/ricdomolm
src_models/codellama
src_models/sakmkmk2
models_cache
models/Qwen*
models/Qwable*
models/gpt-oss-20b*
models/starcoder*/1
models/SERA*
models/microsoft*/1
models/Phi-*
models/gemma-*
models/gemma-4-E4B-it-int8-ov/
models/OmniCoder*
models/Vibe-Coding-Claude-Fable-5*
models/Mellum*/1
models/*/1

